@media(min-width:992px)and(max-width:1199px) {}

// -------------------------------------------992
@media(min-width:992px)and(max-width:1199px) {}

// -------------------------------------------768
@media(min-width:768px)and(max-width:991px) {}

// --------------------------------------------576
@media(min-width:576px)and(max-width:767px) {}

// ----------------------------------------mobile
@media(max-width:$desktop) {
  .howWork{
    .columns{
      .column{
        div{
          padding-left: 0!important;
          padding-right: 0!important;
        }
      }
    }
  }
  .navbar-brand {
    justify-content: space-between;
  }
  .display-1 {
    font-size: calc(6vw + 1em);
    line-height: calc(6vw + 0.5em);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .dropdown {
    box-shadow: 0 0 15px rgba(119, 119, 119, 0.49);
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
  }

  .dropdown.is-open {
    display: block;
  }
  .drop {
    &:hover {
      cursor: pointer;
    }
  }
  .is-flex-column-touch{
    flex-direction: column;
    input, .v-select{
      margin-bottom: 15px;
    }
  }
  .howWork{
    background-image: none!important;
    background-color: $grey-light-ultra;
    .column{
      color: $black!important;
    }
  }
  footer {
    .footer-right {
      justify-content: start !important;
      align-items: start !important;
    }
    .button{
      margin-bottom: 15px;
    }
  }
  .v-select{
    font-size: 13px!important;
  }
  .quickview{
    max-width: 100%;
    ul{
      max-height: 100%!important;
    }
  }
  .columns.is-reversed-touch {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media(max-width: $tablet) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}